*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #E5E5FD;
    min-height: 100vh;
    border: 16px solid #1D1E4C

}
.content{
    max-width: 900px;
    margin: 0 auto;
}

/* top section starts here */

.top_section{
    margin-top: 100px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .top_section h1{
    font-size: 50px;
    font-weight: bold;
    color:#1D1E4C;
    text-transform: uppercase;
  }
  .top_section h4{
    text-align: end;
  }

.img_container{
    border-radius: 50%;
    overflow:hidden
}

.img_container, img{
width: 300px;
height:320px; 
}

/* top section ends here */
