*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* <!-- Main Container Starts here --> */

.container{
    background-color: #E5E5FD;
    min-height: 100vh;
    border: 16px solid #1D1E4C

}

/* <!-- Main Content Starts here --> */

.content{
    max-width: 900px;
    margin: 0 auto;
}

/* top section starts here */

.top_section{
    margin-top: 100px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .top_section h1{
    font-size: 50px;
    font-family: Inter;
    font-weight: 500;
    color:#1D1E4C;
    text-transform: uppercase;
  }
  .top_section h4{
    text-align: end;
    font-family: Inter;
  }

.img_container{
    border-radius: 50%;
    overflow:hidden;
}

.img_container, img{
width: 300px;
height:320px; 
}

/* top section ends here */

/* About section starts here */

.about_section{
  margin-top: 50px;
}
.about_section h2{
font-size:60px;
font-family: Inter;
margin-top: 100px;
margin-bottom: 20px;
font-weight: 500;
}

.about_section p{
  font-size: :20px;
  line-height: 30px;
  letter-spacing:  1.2px;
  text-align:justify;
  font-family: Inter;

}

/* About section ends here */

/* Bigraphy section starts here */
.Biography_section{
  /* /* margin-top:50px; */
  margin : 50px 0;
}
.Biography_section h3{
  font-family: Inter;
}
  /* line-height: 20px; */
  .Biography_section ul{
    margin-top: 30px;
    margin-left: 50px;
    line-height: 30px;
  font-family: Inter;

  }
  /* .Biography_section li{
    /* margin-bottom: 15px;} or this also we can do*/ 

  /* Biography ends here */
  /* footer starts here */
  footer {
    margin-top: 50px;
    text-align: end;
    margin-bottom: 20px;
  }
  /* footer ends here */
  
/* <!-- Main Content Starts here --> */

/* <!-- Main Container ends here --> */
 
   

